# GitHub
.github/FUNDING.yml @ChillCordDev
.github/workflows/publish.yaml @ChillCordDev

# Main
gatsby-brwoser.js @TheRealToxicDev
gatsby-config.js @TheRealToxicDev
gatsby-node.js @TheRealToxicDev
index.js @ChillCordDev

# Stuff
LICENSE @TheRealToxicDev
README.md @ChillCordDev
darkmode.css @ChillCordDev
package.json @ChillCordDev

# Base
content/index.md @TheRealToxicDev
content/getting-started.mdx @TheRealToxicDev

# Appeals
content/appeals/@intro.mdx @ChillCordDev
content/appeals/hosting.mdx @ChillCordDev
content/appeals/setup.mdx @ChillCordDev
